@import "tailwindcss";

:root {
  --font-noto-sans-thai: 'Noto Sans Thai', sans-serif;
}

@theme {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #4B83F0;
  --neutral-color: #8E8E8E;
  --neutral-second-color: #F1F5F9;
  --success-color: #23C45E;
  --error-color: #FF5053;
}

@theme inline {
  --font-sans: var(--font-noto-sans-thai)
}