@import "tailwindcss";

:root {
  --font-noto-sans-thai: 'Noto Sans Thai', sans-serif;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #292D32;

  --color-primary: #4B83F0;
  --color-primary-second: #EEF6FE;
  --color-neutral: #8E8E8E;
  --color-neutral-second: #F1F5F9;
  --color-success: #23C45E;
  --color-success-second: #E1FFEC;
  --color-error: #FF5053;
  --color-error-second: #FEF3F3;
  --color-error-third: #A9281B;
  --color-inprogress: #F0AB4B;
  --color-inprogress-second: #FFF7EC;
  --font-sans: var(--font-noto-sans-thai)
}

@layer utilities {
  .button-effect {
    @apply hover:scale-95 transition-all active:scale-100;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}
