@import "tailwindcss";

:root {
  --font-noto-sans-thai: 'Noto Sans Thai', sans-serif;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-primary: #4B83F0;
  --color-primary-second: #EEF6FE;
  --color-neutral: #8E8E8E;
  --color-neutral-second: #F1F5F9;
  --color-success: #23C45E;
  --color-error: #FF5053;
  --color-error-second: #FEF3F3;
  --color-error-third: #A9281B;
  --color-inprogess: #F0AB4B;
}

@theme inline {
  --font-sans: var(--font-noto-sans-thai)
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}